@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-font:  'Anek Malayalam', sans-serif;
    --secondary-font:  'Inter', sans-serif;
    --primary-color: #2D2D2D;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.name,.detail{
    font-family: var(--secondary-font);
    color: white;
}
.sidediv{
    background-color: #2D2D2D;
    width: 470px;
    position: relative;
}
.mom-pic{
    filter: brightness(0.8);
}
.flex{
    display: flex;
}
.round-abt{
    align-items: center;
    padding: 2rem 0rem 0rem 3rem;
}
.name{
    font-size: 17px;
    font-weight: 400;
}
.detail{
    font-size: 13px;
    font-weight: 400;
}
.tk_who{
    margin-left: 15px;
}
.nav-sec li a{
    text-decoration: none;
    color: black;
}
.nav-sec li a:hover{
    color: #2D2D2D;
    transition: .2s ease-out;
}
.nav-sec{
    list-style: none;
    gap: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    justify-content: center;
    gap: 55px;
    padding: 2rem 2rem ;
}
.sec-1{
    justify-content: space-between;
    width: fit-content;
    margin: auto;
    max-width: 1800px;
}
.pic-div{
    display: flex;
    flex-direction: column;
}
.top-p{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    color: white;
    line-height: 1.29;
}
.top-q {
    position: absolute;
    top: 40%;
    right: -11.5rem;
    z-index: 99;
}
.mom{
    font-size: 6rem;
    margin: -1rem 0rem;
    height: fit-content;
    display: inline-block;
    color:  #FFD600;
}
.tk-web{
    background-color:  #E8E8E8;
    margin: auto;
}
.rd-m{
    padding: 3px 9px;
    color: #FFD600;
    background:#2D2D2D;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--primary-font);
}
.rd-m:hover{
    color:#2D2D2D ;
    background-color:#FFD600 ;
    transition: .3s ease-out;
}
.off-p,.off-n{
    font-family: var(--primary-font);
}
.off-n{
    font-size: 28px;
    font-weight: 400;
}
.off-p{
    font-size: 18px;
    font-weight: 400;
    max-width: 335px;
    padding: 3rem 0rem;
}
.abt-1{
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 7.5rem 0rem ;
}
.circle-y{
    align-items: center;
    display: flex;
    gap: 5px;
    position: absolute;
    right: 24%;
    top: -2px;
}

.tk-web {
    max-width: 1368px;
    z-index: -3;
}
.author_image {
    position: relative;
}
.author_image img {
    z-index: 99;
    position: relative;
}

.author_image::before {
    content: " ";
    position: absolute;
    height: 390px;
    width: 310px;
    z-index: 0;
    background-color: var(--primary-color);
    color: #2D2D2D;
    top: -38px;
    left: -36px;
}
.author_name {
    position: relative;
    display: inline-block;
    z-index: 99;
}
.author_name::before {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 0;
    height: 20px;
    width: 199px;
    background-color: #FFD600;
}
.books-f{
    align-items: center;
    margin:  1.6rem 0rem  1.6rem 0rem;
    overflow: hidden;
}
.year-47{
    background-color:#2D2D2D    ;
    color: white;
    font-family: var(--primary-font);
    font-weight: 400;
    margin: 5rem 1.5rem 5rem 2rem;
    padding: 2rem;
}
.nvl-name{
    gap: 15px;
}
.year-p{
    width: 492px;
    font-size: 18px;
    margin: 15px 0px 26px 0px;
}
.year-n{
    font-weight: 400;
    font-size: 28px;
}

#backgroundimage{
    background-image: url('./media/books.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1368px;
    margin: auto;
}

.nav-sec li a {
    display: inline-block;
    position: relative;
  }
  
  .nav-sec li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }
  
  .nav-sec li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.m-novels{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.n-s{
    gap: 5rem;
    margin-left: 1rem;
    margin: 3rem 0rem 0rem 1.5rem;
}
.counts{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}
.books-pic{
    border-radius: 1rem;
    max-width: 223px !important;
}
.books-head{
    font-family: var(--primary-font);
    font-size: 34px; 
    font-weight: 400;
    text-align: center;
    color: white;
    padding: 3rem 0rem 4rem 0rem;
}
#books-sec{
    background-color: #2D2D2D;
    margin: auto;
    max-width: 1368px;
}
.owl-nav{
    color: wheat;
    font-size: 70px;
}
.owl-carousel .owl-item img{
    width: initial !important;
}
.carousel-1 {
    max-width: 90%;
    margin: 0rem auto;
}
.owl-stage-outer{
    height: 30rem;
}
.owl-prev{
    position: absolute;
    top: 25%;
    left: -3rem;
}
.owl-next{
    position: absolute;
    top: 25%;
    right: -2.5rem;
}
.ammavan-p{
    font-family: var(--primary-font);
    color: black;
    font-size: 1.2rem;
    font-weight: 500    ;
}
.ammavan-a{
    text-decoration: none;
    width: 580px;
    gap: 1rem;
}
.ammavn-vpic{
    border-radius: 10px;
    height: 155px;
}
.vedio-div{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap: 4rem;
    padding: 5rem 2rem 2.5rem 2rem;
    row-gap: 5rem;
}
.v-main,.q-main{
    border: 4px solid #675656;
    margin: 3rem;   
}
.vedio-sec,.quote-sec{
    margin: auto;
    max-width: 1368px;
    position: relative;
}
.up-box{
    /* height: 40px;
    width: 367px; */
    background-color: #675656;
    position: absolute;
    top: -17px;
    left: 84px;
}
.video-h,.quote-h{
    font-family: var(--secondary-font);
    color: white;
    text-align: center;
    padding: .5rem 6rem;
}
.sanu-q{
    font-family: var(--primary-font);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
}
.sanu-n{
    font-family: var(--primary-font);
    font-size: 1.7rem;
    font-weight: 500;
    text-align: end;
}
.q-main{
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
}
#footer-sec{
    background-color: #2D2D2D;
    text-align: center;
    color: #E8E8E8;
}
.footer-name{
    font-family: var(--secondary-font);
    font-size: 27px;
    font-weight: 400;
}
.footer-p{
    font-size: var(--secondary-font);
    font-size: 13px;
    font-weight: 400;
}
.footer-cnt{
    display: flex;
    justify-content: center;
    gap: 11px;
    padding-bottom: 4rem;
}
.ft-div{
    padding: 2rem 0rem 1.5rem 0rem;
}